﻿body {
    background-color:lightgray;
}

.Titulo{
    background-color:white;
    color:red;
    font-size:large;
    font-family:Arial;
}

.Subtitulo{
    background-color:red;
    color:white;
    font-size:medium;
    font-family:Arial;
}

.AnchoTotal{
    width:100%;
}

.Centrado{
    text-align:center;
}

.Boton{
    background-color:white;
    color:red;
    font-weight:bold;
}

.FilaCabecera {
    background-color:red;
    color:white;
}

.FilaDatos {
    background-color:white;
    color:red;
}

