﻿@using Northwind.Librerias.EntidadesNegocio
@using General.Librerias.CodigoWeb
@model List<beEmpleado>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista</title>
    <link href="~/Content/Styles/CIPSA.css" rel="stylesheet" />
</head>
<body>
    <div> 
        @using(Html.BeginForm())
        { 
            <table class="AnchoTotal">
                <tr class="Titulo">
                    <td>Lista de Empleados</td>
                </tr>                
                <tr>
                    <td>
                        <table class="AnchoTotal">
                            <tr>
                                <td style="width:70px">
                                    @Html.ActionLink("Código", "Ordenar", new { campo = "IdEmpleado" })
                                    @ViewData["IdEmpleado"]
                                </td>
                                <td style="width:200px">
                                    @Html.ActionLink("Apellido", "Ordenar", new { campo = "Apellido" })
                                    @ViewData["Apellido"]
                                </td>
                                <td style="width:200px">
                                    @Html.ActionLink("Nombre", "Ordenar", new { campo = "Nombre" })
                                    @ViewData["Nombre"]
                                </td>
                                <td style="width:100px">
                                    @Html.ActionLink("Fecha Nac", "Ordenar", new { campo = "FechaNacimiento" })
                                    @ViewData["FechaNacimiento"]
                                </td>
                                <td style="width:100px">Foto</td>
                            </tr>
                            @for(int i=0; i<Model.Count;i++)                        
                            { 
                                <tr class="FilaDatos">
                                    <td>@Model[i].IdEmpleado </td>
                                    <td>@Model[i].Apellido </td>
                                    <td>@Model[i].Nombre  </td>
                                    <td>@Model[i].FechaNacimiento.ToShortDateString()</td>
                                    <td>
                                        <img src='@Imagen.obtenerUrl("Empleados",@Model[i].IdEmpleado.ToString())' width="100" height="60" />
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5" class="Centrado">
                                    @for(int i=0;i<=ViewBag.IndiceUltimaPagina;i++)
                                    {
                                        @Html.ActionLink((i + 1).ToString(), "Lista", new {pagina=i});   
                                        @Html.Label(" ");
                                    }
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="Centrado">
                                    <input name="pagina" type="submit" value="<<" />
                                    <input name="pagina" type="submit" value="<" />
                                    <input type="text" value="@ViewBag.Posicion" readonly class="Centrado" />
                                    <input name="pagina" type="submit" value=">" />
                                    <input name="pagina" type="submit" value=">>" />                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
